<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Tweet Linkleri</h1>
        </div>

      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- Default box -->
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Link Listesi</h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
            <i class="fas fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>

      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <button type="button" class="btn btn-primary" (click) = "openModel(urlAddModel)">
              Tweet Linki Ekle
            </button>
          </div>
        </div>
      </div>



      <div class="card-body">
        <Table class="table table-hovered">
          <thead>
            <tr>
              <th>#</th>
              <th>Link</th>
              <th>İşlemler</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let url of urls let index = index" >
              <td [innerText] = "index + 1"></td>
              <td [innerText] = "url.tweetUrl"></td>
              <td>
                <button class="btn btn-danger" [swal]="deleteSwal"
                (confirm)="deleteUrl(url)">Sil</button>
              </td>
            </tr>
          </tbody>

        </Table>
      </div>
    </div>
 </section>
</div>


<ng-template #urlAddModel>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Tweet Link Ekle</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  <form #addForm="ngForm">
    <div class="form-group">
      <label for="exampleInputLink1">Link</label>
      <input type="text" class="form-control" #tweetUrl required minlength="3" placeholder="Link giriniz">
    </div>
  </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" [disabled]="!addForm.valid" (click)="addUrl(tweetUrl)">Link ekle</button>
    <button type="button" class="btn btn-danger" (click)="closeModal()" data-dismiss="modal">Kapat</button>
  </div>

</ng-template>


<swal
#deleteSwal title="Sil" text = "Ürünü silmek istiyor musunuz?"
type="question"
[showCancelButton]="true"
[focusCancel]="true"
[swalOptions]="{ confirmButtonText :'Sil', cancelButtonText: 'Vazgec'}"
></swal>
