<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap Sign in Form with Facebook and Twitter Buttons</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="login-form">
      <form [formGroup]="loginForm" action="/examples/actions/confirmation.php" method="post">
        <h2 class="text-center">Giriş Yap</h2>

        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <input
            formControlName="email"
              type="email"
              class="form-control"
              name="email"
              required email
              placeholder="Kullanıcı Adı"
              required="required"
            />
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            <input
            formControlName="password"
              type="password"
              class="form-control"
              name="password"
              required password
              placeholder="Şifre"
              required="required"
            />
          </div>
        </div>
        <div class="form-group">
          <button [disabled] = "!loginForm.valid" (click)="login()" class="btn btn-primary login-btn btn-block">
            Giriş Yap
          </button>
        </div>
        <div class="clearfix">
          <!-- <label class="pull-left checkbox-inline"
            ><input type="checkbox" /> Beni Hatırla</label
          > -->
          <a href="#" class="pull-right">Şifreni mi Unuttun?</a>
        </div>
        <div class="or-seperator"><i>veya</i></div>
        <p class="text-center">Sosyal medya hesapların ile giriş yap</p>
        <div class="text-center social-btn">
          <a href="#" class="btn btn-primary"
            ><i class="fa fa-facebook"></i>&nbsp; Facebook</a
          >
          <a href="#" class="btn btn-info"
            ><i class="fa fa-twitter"></i>&nbsp; Twitter</a
          >
          <a href="#" class="btn btn-danger"
            ><i class="fa fa-google"></i>&nbsp; Google</a
          >
        </div>
      </form>
      <p class="text-center text-muted small">
        <a routerLink="#"> Hesabın Yok mu? Kaydolmak için tıkla!</a>
      </p>
    </div>
  </body>
</html>
